h1{
    color: blue;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:brown;
    color: black;
    text-align: center;
    background-size: cover;
    font-weight:bolder;
}
#message-el{
    font-style: italic;
}
button {
    color: #016f32;
    width: 150px;
    background: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-bottom: 4px;
}